extends layout

block content
  h1 detail
  p 名前: #{data[1].name}
  p 温度: #{data[0].temp}
  p 湿度: #{data[0].humidity}
  p 土壌: #{data[0].luminous}
  p 光度: #{data[0].SoilHumidity}
  p 日時: #{data[0].CreatedAt}
  button(class='sendbutton', type='button', onclick='send()') 送信
